<p>El panel de administrador</p>

  {{#each games}}
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui cards">
        <div class="card">
          <div class="content">
            <div class="header"> <a href="/admin/{{this.id}}" >{{this.title}}</a></div>
            <div class="meta">{{this.author}}</div>
            <div class="description">
          {{this.body}}
        </div>
      </div>
    </div>

    </div>

</div>
</div>

  {{/each}}
