<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Estoy funcionando!</title>
  </head>
  <body>
    {{{body}}}
    <br>
    <hr>
    <footer>
      <p>Todos los derechos son mios mierda!</p>
    </footer>
  </body>
</html>
